---
import Layout from '../layouts/Layout.astro';
import ReasonsCard from '../components/ReasonsCard.astro';
import FeatureCard from '../components/FeatureCard.astro';
import { Image } from 'astro:assets';
import logo from "../images/ords.png";
---

<Layout title="o-RDS">
	<main class="flex flex-col gap-10">
		<section class="flex">
			<div class="flex flex-col items-center mt-16 md:mt-20 lg:mt-24 mx-auto">
				<h1 class="m-0">The new way to to conduct online RDS surveys.</h1>
				<p class="instructions">
					o-RDS delivers a highly customizable, open-source, and easy to set up way to conduct your own online RDS surveys.
				</p>
				<div>
					<a href="/getting-started/overview"><button class="border-rdsOrange border-2 p-2 rounded-md bg-rdsOrange text-white">View the docs</button></a>
					<a href="https://github.com/o-RDS"><button class="border-rdsBlue border-2 p-2 rounded-md">Check out Github</button></a>
				</div>
			</div>
			<!-- <div>
				<Image src={logo} alt="three orange cirles connected by blue lines">
			</div> -->
		</section>
		<section class="mt-20 md:mt-24 lg:mt-28">
			<h2 class="text-3xl">o-RDS is a all-in-one online RDS solution.</h2>
			<ul role="list" class="flex justify-between mt-4 sm:mt-8">
				<ReasonsCard
					title="Open Source"
					body="o-RDS provides a completely open source solution allowing for budget use cases and continued community support."
				/>
				<ReasonsCard
					title="Easy to Use"
					body="o-RDS provides a no frills solution to web RDS. Simply plug in the necessary parts and it'll work right out of the box."
				/>
				<ReasonsCard
					title="Customizable"
					body="Build o-RDS the way you want it to work. Change out or expand on parts to make it better fit your workflow."
				/>
				<ReasonsCard
					title="Fast"
					body="Build o-RDS the way you want it to work. Change out or expand on parts to make it better fit your workflow."
				/>
			</ul>
		</section>
		<section class="mt-20 md:mt-24 lg:mt-28">
			<h2 class="text-3xl">Fully Featured</h2>
			<p class="mt-3 text-base">o-RDS contains all the necessary features to start building your survey right away and supports continuous integration of new features.</p>
			<ul role="list" class="link-card-grid mt-4 sm:mt-8">
				<FeatureCard
					title="Survey Builder"
					body="Develop your survey with a simple and fast survey builder."
				/>
				<FeatureCard
					title="Survey Management"
					body="Easily manage surveys straight from the survey builder or view your results right in the dashboard."
				/>
				<FeatureCard
					title="Referal Tracking"
					body="Easily track the chain of referals and spend more time doing meaningful work."
				/>
				<FeatureCard
					title="Automatic Payments"
					body="With Tremendous integration, all payments will be handled automatically."
				/>
				<FeatureCard
					title="Survey Delivery Tool"
					body="Publish your survey and it will automatically go live at its own dedicated URL."
				/>
				<FeatureCard
					title="Backend Proxy Survey"
					body="Keep your secrets hidden and enable authentification of users wihe the included proxy server."
				/>
				<FeatureCard
					title="Security"
					body="Build o-RDS the way you want it to work. Change out or expand on parts to make it better fit your workflow."
				/>
			</ul>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		
		max-width: 80vw;
		color: black;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		text-align: center;
		margin-bottom: 2rem;
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
