---
interface Props {
	title: string;
	body: string;
	image: string;
	benefits: String[];
}

const { title, body, image } = Astro.props;
import { Image } from 'astro:assets';
---

<li class="link-card">
	<div class="border-4 border-rdsBlue">
		<Image src={import(image)} alt="" />
		<h2 class="text-2xl font-bold m-0">
			{title}
		</h2>
		<p class="text-base">
			{body}
		</p>
		<ul>

		</ul>
	</div>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 1px;
		/* background-color: #23262d; */
		background-image: none;
		border-radius: 7px;
		/* transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1); */
	}
	.link-card > div {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: black;
		opacity: 0.8;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	/* .link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	} */
</style>
