---
import { Image } from "astro:assets";
import logo from "../assets/images/ords_lg.png";
import githubLogo from "../assets/images/githubLogo.png";
import logoRDS from "../assets/images/ords.svg";
---

<nav class="flex flex-row w-screen items-center justify-center border">
    <Image src={logo} alt="logo" class="w-24 h-auto"/>
    <div class="flex flex-row ml-auto w-auto gap-6 pr-3 justify-center items-center">
        <a href="/getting-started/overview">Documentation</a>
        <a href="https://o-rds.com/admin/register">Demo</a>
        <a href="https://github.com/o-RDS"><Image src={githubLogo} alt="Github Logo" class="w-8 h-auto"/></a>
    </div>
</nav>