---
import { Image } from "astro:assets";
import logo from "../images/ords.png";
---

<nav class="flex" />
    <Image src={logo} alt="logo"/>
    <div class="ml-auto">
        <a>Documentation</a>
        <a>Github</a>
    </div>
</nav>